########################################
# Visual Studio
########################################
.vs/
*.user
*.suo

########################################
# Build Results
########################################
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

########################################
# NuGet
########################################
*.nupkg
packages/
project.lock.json
project.assets.json

########################################
# ASP.NET / Web Projects
########################################
wwwroot/
appsettings.json
Program.cs

########################################
# Rider (if using JetBrains)
########################################
.idea/

########################################
# Others
########################################
*.db
*.bak
*.sqlite
*.mdf
*.ldf
*.vsidx
*.cache
*.tmp
*.pid

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db
ehthumbs.db
